.App {
  text-align: center;
  overflow: hidden;
}

.draggable-container {
  position: relative;
  width: 100%;
  height: 100vh;

  padding-left: 10px;
}

.droppable-container {
  position: relative;
  height: 100vh;
  background-color: #FDFDFE;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.draggable-element {
  display: flex !important;
  justify-content: flex-start !important;
}

.draggable-element:hover {
  cursor: move;
}

.dropped-element {
  width: auto;
  height: auto;
  padding: 10px;
  display: inline-block;
}

.dropped-element:hover, .dropped-element.active {
  border: 1px dotted #111111;
  cursor: move;
}

.dropped-element .icon {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 100;
}

.dropped-element .icon:hover {
  cursor: pointer;
}

.col, .col-1, .col-2, .col-3, .col-9, .col-10 {
  padding: 0 !important;
}

.heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.components-header {
  height: 72px;
}

.static {
  position: static !important;
  width: 100%;
}

.sidebar {
  z-index: 1000;
  position: absolute;
  top: 100px;
  bottom: 0px;
  height: 450px;
  overflow-y: auto;
  transition: -webkit-transform 0.5s ease-out 0.5s;
  background: rgb(248, 249, 250); right: 0px;
  transform: translateX(-11%);
  box-shadow: rgba(0, 0, 0, 0.15) -2px 2px 4px;
  text-align: left;
  padding: 10px;
}

.sidebar-content {
  margin-top: 15px;
}

.static {
  position: static;
  width: 100%;
}

.absolute {
  position: absolute;
}
